#playField {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 800px;
    height: 800px;
}

.cell {
    height: 100px;
    width: 100px;
}

.piece {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 10px;
    border: 1px solid;
}

.white {
    background-color: white;
    border-color: black;
}

.black {
    background-color: black;
    border-color: white;
}

